html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.header {
  display: flex; /* Enable Flexbox */
  justify-content: space-between; /* Space between items */
  /* align-items: center; Align items vertically */
  text-align: center; /* Center text for the title */
  padding-top: 0; /* Add some padding on the sides */
  height: 250px;
}

.header .f1 {
  flex-grow: 1;
  color: rgb(107, 44, 7);
  text-shadow: 2px 2px 4px orange;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h1.f1 {
  font-size: calc(
    4rem + 2vw
  ); /* Adjust the base size and viewport factor as needed */
}

.left {
  width: 40%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates two columns */
  grid-gap: 10px; /* Adjust for space between buttons */
}

.MainContainer {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

@media (max-width: 1150px) {
  .MainContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the content of .left and .right */
  }

  .left,
  .right {
    width: 100%; /* Optional: Adjust if you want to limit the width */
    display: flex;
    justify-content: center; /* Centers the children elements horizontally */
    flex-wrap: wrap; /* Ensures flexibility for inner elements */
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 800px) {
  .MainContainer .left {
    grid-template-columns: 1fr; /* One column */
  }
}

@media (min-width: 1800px) {
  h1.f1 {
    font-size: 7rem; /* Adjust as needed */
  }
}
