.button-container {
  text-align: left; /* Aligns the button to the left */
  margin-bottom: 20px; /* Adds bottom margin */
  display: flex; /* Enables flexbox layout */
  justify-content: flex-start; /* Aligns children (button) to the start */
  flex-direction: row;
  margin-left: 15px;
}

.recipe-button {
  height: 200px; /* Sets button height */
  width: 350px; /* Sets button width */
  color: white;
  border-radius: 3px; /* Rounded corners */
  font-size: 1.2em; /* Text size */
  cursor: pointer; /* Changes cursor to pointer on hover */
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
